@page
@model Creche.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@*About page, with some description for the project*@
<div class="text-info">
    <h2>Creche registration 2.1</h2>
    <h2>Enterprise Development - Assignment 2</h2>
    <br /><br />
    <div class="text-justify ">
    <section style="text-indent: 5em;">
        <h4><strong>Requirements not met</strong></h4>
        <p>All requirement were met and all necessary corrections are done based on first assignment feedback.</p>
    </section><br />
    <section style="text-indent: 5em;">
        <h4><strong>Special Merit</strong></h4>
        <p>I have included a SEARCH option when listing the from the DB. The search would work with first name, last name or ID and all matches from DB will be displayed.
        </p> 
                   
               
      
    </section>
    <section style="text-indent: 5em;">
        <h4><strong>API documentation</strong></h4>
        <p>Besides the above mentioned API I have created an API that would return the name list of kids from the creche, and if the ID is mentioned it will return the attendance days.</p>
    </section>
    <section style="text-indent: 5em;">
        <h4><strong>GitHub repository link</strong></h4>
        <p>
            
        </p>
 
        
    </section>   
    


    </div>


</div>

