@page 
@model Creche.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
@*html generated after succesful registration with total price displayed*@
<h2 class="text-success">Thank you for your application, price per week is @Model.Message</h2>

