@page
@model Creche.Pages.UpdateModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@*message to user that update was succesfull*@
<h2 class="text-success">Update was saved, price per week is @Model.Message</h2>

